[*.cs]

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = none

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = none

# S4487: Unread "private" fields should be removed
dotnet_diagnostic.S4487.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none
