name: dotnet package

on: 
  push:
    branches:
      -main
  pull_request:

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: [ '5.0.x' ]

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore ./Recrutify/.editorconfig
      - name: Build
        run: dotnet build --configuration Release --no-restore ./Recrutify/.editorconfig
      - name: Test
        run: dotnet test --no-restore --verbosity normal ./Recrutify/.editorconfig
      - run: echo "ok"

